@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

.max-width{
  max-width: 1300px;
  padding: 10px;
  margin: auto;
}

/* Navbar Styling */

.navbar{
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky{
  padding: 15px 0;
  background: #c23616;
}

.navbar .logo a{
    color: #dcdde1;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
  color: #c23616;
  transition: all 0.3 ease;
}

.navbar.sticky .logo a span{
  color: #dcdde1;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo .li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  display: block;
  color: #dcdde1;
  font-size: 18px;
  font-weight: 500;
  margin-left: 28px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color: #c23616;
}

.navbar.sticky .menu li a:hover{
  color: #dcdde1;
}

/* menu btn styling */

.menu-btn{
  color: #dcdde1;
  font-size: 23px;
  cursor: pointer;
  display: none;
}


/* Home Section Styling */
.home{
  display: flex;
  background: url('pic/D.png');
  height: 100vh;
  color: #dcdde1;
  min-height: 400px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 100px;
}

.home .home-content .text-1{
  font-size: 40px;
}

.home .home-content .text-2{
  font-size: 58px;
  font-weight: 900;
  margin-left: -3px;
}

.home .home-content .text-3{
  font-size: 45px;
}

.home .home-content .text-3 span{
  color: #c23616;
  font-weight: 500;
}

.home .home-content a{
  display: inline-block;
  background: #c23616;
  color: #dcdde1;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #c23616;
  transition: all 0.3s ease;
}

.home .home-content a:hover{
   color: #dcdde1;
   background: none;
}

/* All similar content styling code */
  section{
    padding: 100px 0;
  }

  .about, .tech, .skills, .teams, .contact, footer{
    font-family: 'poppins', sans-serif;
  }

  .about .about-content,
  .tech .tech-content,
  .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'ubuntu', sans-serif;
  }

  section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 170px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
  }

  section .title::after{
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #c23616;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
  }



/* About Me */

.about .title::after{
  content: "Who I Am";
}

.about .about-content .left{
  width: 45%;
}

.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.about .about-content .right{
  width: 55%;
}

.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}

.about .about-content .right .txt span{
  color: #c23616;
}

.about .about-content .right p{
  text-align: justify;
}

.about .about-content .right a{
  display: inline-block;
  background: #c23616;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #c23616;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover{
  color: #c23616;
  background: none;
}

/* Tech Experience */
.tech, .teams{
  color: #dcdde1;
  background: #1A1A1A;
}

.tech .title::before
.teams .title::before{
  background: #dcdde1;
}

.tech .title::after,
.teams .title::after{
  background: #1A1A1A;
  content: "What Are My Experiences";
}

.tech .tech-content .card{
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tech .tech-content .card:hover{
  background: #c23616;
}

.tech .tech-content .card .box{
  transition: all 0.3s ease;
}

.tech .tech-content .card:hover .box{
  transform: scale(1.05);
}

.tech .tech-content .card:hover i{
  color: #dcdde1;
}

.tech .tech-content .card .box{
  transition: all 0.3s ease;
}

.tech .tech-content .card:hover .box{
  transform: scale(1.05);
}

.tech .tech-content .card i {
  font-size: 50px;
  color: #c23616;
  transition: color 0.3s ease;
}

.tech .tech-content .card .text{
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}


/* Skills Section */

.skills .title::after{
    content: "What I Know";
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}

.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p{
  text-align: justify;
}

.skills .skills-content .left a{
  display: inline-block;
  background: #c23616;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #c23616;
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
  color: #c23616;
  background: none;
}

.skills .skills-content .right .bars{
  margin-bottom: 15px;
}

.skills .skills-content .right .info{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #c23616;
}

.skills-content .right .DA::before{
  width: 70%;
}

.skills-content .right .PM::before{
  width: 75%;
}

.skills-content .right .HTML::before{
  width: 65%;
}

.skills-content .right .CSS::before{
  width: 65%;
}

.skills-content .right .JS::before{
  width: 58%;
}


/* Teams Section */
.teams .title::after{
  content: "Who Were With We";
}

.teams .carousel .card{
  background: #111 ;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover{
  background: #c23616;
}

.teams .carousel .card .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{
  transform: scale(1.05);
}

.teams .carousel .card text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.teams .carousel .card img{
 height: 150px;
 width: 150px; 
 object-fit: cover;
 border-radius: 50%;
 border: 5px solid #c23616;
}

.teams .carousel .card:hover img{
  border-color: #dcdde1;
}

.owl-dots{
  text-align: center;
  margin-top: 20px;
}

.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid #c23616!important;
  transition: all 0.3s ease;
}

.owl-dot.active{
 width: 35px;
 border-radius: 14px;   
}

.owl-dot.active, 
.owl-dot:hover{
  background: #c23616!important;
}

/*  Contact Me */

.contact .title::after{
  content: "May I Help?";
}

.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p{
  text-align: justify;
}

.contact .contact-content .left .icons{
  margin: 10px;
}

.contact .contact-content .left .row{
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .left .row .info{
  margin-left: 15px;
}

.contact .contact-content .left a{
  font-size: 17px;
  font-weight: 600;
}

.contact .contact-content i{
  font-size: 24px;
  color: #1A1A1A;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}

.contact .right form .textarea{
  height: 120px;
  width: 100%;
}

.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .email{
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'poppins', sans-serif;
}

.contact .right form .textarea textarea{
  padding: 10px;
  resize: none;
}

.contact .right form .button{
  height: 47px;
  width: 170px;
}

.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid #c23616;
  background: #c23616;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover{  
  color: #c23616;
  background: none;
}

/* Footer section */

footer{
  background: #1A1A1A;
  padding: 20px 23px;
  color: #dcdde1;
  text-align: center;
}

footer span a{
  color: #c23616;
}

footer span a:hover{
  text-decoration: underline;
}

/* Responsive media */
  @media (max-width: 1300px){
    .home .max-width{
      margin-left: 0px;
    }
  }

  @media (max-width: 1104px){
    .about .about-content .left img {
      height: 350px;
      width: 350px;

      }
    }
  

  @media (max-width: 991px){
    .max-width{
      padding: 0 50px;
    }
} 

  @media (max-width: 940px){
  .menu-btn{
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before{
    content: '\f00d';
  }

  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    padding-top: 80px;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar .menu.active{
    left: 0;
  }

  .navbar .menu li{
      display: block;
  }

  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2{
    font-size: 65px;
  }

  .home .home-content .text-3{
    font-size: 35px;
  }

  .home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width{
    max-width: 800px;
  }

  .about .about-content .column{
    width: 100%;
  }

  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right p{
    flex: 100%;
  }

  .tech .tech-content .card{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .skills .skills-content .column,
  .contact .contact-content .column{
    width: 100%;
    margin-top: 25px;
  }
}


@media (max-width: 690px){

  .max-width{
    padding: 0 23px;
  }

  .home .home-content .text-2{
    font-size: 60px;
  }

  .home .home-content .text-3{
    font-size: 31px;
  }
  .home .home-content a{
    font-size: 23px;
  }
  .tech .tech-content .card{
    width: 100%;
  }

}

  @media (max-width: 500px){

    .home .home-content .text-2{
      font-size: 50px;
    }
  
    .home .home-content .text-3{
      font-size: 28px;
    }

  } 
  
